@model DashboardViewModel

@{
    ViewBag.Title = "Index";
}


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>

    <div class="mdl-cell mdl-cell--8-col mdl-shadow--4dp table-wrap">
        <h3>Tasks ToDo</h3>

        <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Designation</th>
                    <th>Deadline</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tasks.Where(t => t.Status == SuperSmart.Core.Data.Enumeration.TaskStatus.ToDo))
                {
                <tr>
                    <td class="mdl-data-table__cell--non-numeric" style="word-wrap: break-word">@item.Designation</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayFinished)
                    </td>
                    <td>
                        <a href="@Url.Action("InvertStatus","Task",new {taskId =item.TaskId,subjectId = item.SubjectId ,home=true})">
                            <i class="material-icons" id="status">check</i>
                            <div class="mdl-tooltip" data-mdl-for="status">
                                Mark as Done
                            </div>
                        </a>
                        <a href="@Url.Action("Overview","Document",new {taskId =item.TaskId })">
                            <i class="material-icons" id="download">file_copy</i>
                            <div class="mdl-tooltip" data-mdl-for="download">
                                Documents
                            </div>
                        </a>

                        <a href="@Url.Action("Create","Document",new {taskId =item.TaskId })">
                            <i class="material-icons" id="upload">cloud_upload</i>
                            <div class="mdl-tooltip" data-mdl-for="upload">
                                Upload new document
                            </div>
                        </a>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>




<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>

    <div class="mdl-cell mdl-cell--8-col mdl-shadow--4dp table-wrap">
        <h3>Tasks Done</h3>

        <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Designation</th>
                    <th>Deadline</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tasks.Where(t => t.Status == SuperSmart.Core.Data.Enumeration.TaskStatus.Done))
                {
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="word-wrap: break-word">@item.Designation</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayFinished)
                        </td>
                        <td>
                            <a href="@Url.Action("InvertStatus","Task",new {taskId =item.TaskId,subjectId = item.SubjectId ,home=true})">
                                <i class="material-icons" id="status">clear</i>
                                <div class="mdl-tooltip" data-mdl-for="status">
                                    Mark as ToDo
                                </div>
                            </a>
                            <a href="@Url.Action("Overview","Document",new {taskId =item.TaskId })">
                                <i class="material-icons" id="download">file_copy</i>
                                <div class="mdl-tooltip" data-mdl-for="download">
                                    Documents
                                </div>
                            </a>

                            <a href="@Url.Action("Create","Document",new {taskId =item.TaskId })">
                                <i class="material-icons" id="upload">cloud_upload</i>
                                <div class="mdl-tooltip" data-mdl-for="upload">
                                    Upload new document
                                </div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
