@model OverviewTeachingClassViewModel

@{
    ViewBag.Title = "Class Overview";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>

    <div id="teachingClassTableWrap" class="mdl-cell mdl-cell--8-col mdl-shadow--4dp">
        <h3>Classes</h3>

        <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Designation</th>
                    <th>Started</th>
                    <th>Number of years</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TeachingClasses)
                {
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">@item.Designation</td>
                        <td>@item.Started</td>
                        <td>@item.NumberOfEducationYears</td>
                        <td>
                            <a href="@Url.Action("Manage",new {teachingClassId =item.Id })"><i class="material-icons">edit</i></a>
                            <a href="@Url.Action("Overview","Subject",new {classId =item.Id })"><i class="material-icons">visibility</i></a>
                            <a href="@Url.Action("Create","Subject",new {classId =item.Id })"><i class="material-icons">add</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button onclick="location.href='/TeachingClass/Create'" id="add-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </button>

    </div>
</div>


