@model OverviewStudentsViewModel

@{
    ViewBag.Title = "Students Overview";
}

@Html.HiddenFor(m => m.TeachingClassId)

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>

    <div class="mdl-cell mdl-cell--8-col mdl-shadow--4dp table-wrap">
        <h3>Students</h3>

        <h4>Link to join this class: @(this.Request.Url.Scheme + "://" + this.Request.Url.Authority + "/TeachingClass" + Url.Action("Join", new { referral = Model.Referral }))</h4>

        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-cell--12-col">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Firstname</th>
                    <th>Lastname</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Accounts)
                {
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">@item.Firstname</td>
                        <td>@item.Lastname</td>
                        <td>
                            @if (item.Id != Model.AdminId && Model.IsAdmin)
                            {
                                <a href="@Url.Action("Kick", new RemoveUserFromTeachingClassViewModel { TeachingClassId = Model.TeachingClassId, UserId = item.Id })">
                                    <i class="material-icons" id="kick">clear</i>
                                    <div class="mdl-tooltip" data-mdl-for="kick">
                                        Remove student
                                    </div>
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


