@model OverviewTaskViewModel

@{
    ViewBag.Title = "Task Overview";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>

    <div class="mdl-cell mdl-cell--8-col mdl-shadow--4dp table-wrap">
        <h3>Tasks</h3>

        <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Designation</th>
                    <th>Status</th>
                    <th>Finished</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tasks)
                {
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric" style="word-wrap: break-word">@item.Designation</td>
                        <td>@item.Status</td>
                        <td>@item.DisplayFinished</td>
                        <td>
                            @if (item.IsOwner)
                            {
                                <a href="@Url.Action("Manage", new { taskId = item.Id })"><i class="material-icons">edit</i></a>
                            }
                            <a href="@Url.Action("InvertStatus","Task",new {taskId =item.Id,subjectId = Model.SubjectId })">
                                @if (item.Status == SuperSmart.Core.Data.Enumeration.TaskStatus.Done)
                                {<i class="material-icons" id="clear">clear</i>
                                    <div class="mdl-tooltip" data-mdl-for="clear">
                                        Mark as ToDo
                                    </div>
                                }
                                else
                                {<i class="material-icons" id="check">check</i>
                                    <div class="mdl-tooltip" data-mdl-for="check">
                                        Mark as Done
                                    </div>
                                }
                            </a>
                            <a href="@Url.Action("Overview","Document",new {taskId =item.Id })">
                                <i class="material-icons" id="documents">file_copy</i>
                                <div class="mdl-tooltip" data-mdl-for="documents">
                                    Documents
                                </div>
                            </a>

                            <a href="@Url.Action("Create","Document",new {taskId =item.Id })">
                                <i class="material-icons" id="upload">cloud_upload</i>
                                <div class="mdl-tooltip" data-mdl-for="upload">
                                    Upload new document
                                </div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <button onclick="location.href='@Url.Action("Create", new { subjectId = Model.SubjectId})'" id="add-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </button>

    </div>
</div>




