@model OverviewSubjectViewModel

@{
    ViewBag.Title = "Subject Overview";
}


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>

    <div class="mdl-cell mdl-cell--8-col mdl-shadow--4dp table-wrap">
        <h3>Subjects</h3>

        <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Designation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Subjects)
                {
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">@item.Designation</td>
                        <td>
                            @if (Model.IsClassAdmin)
                            {
                                <a href="@Url.Action("Manage", new { subjectId = item.Id })">
                                    <i class="material-icons" id="edit">edit</i>
                                    <div class="mdl-tooltip" data-mdl-for="edit">
                                        Edit subject
                                    </div>
                                </a>
                            }

                            <a href="@Url.Action("Overview","Task",new {subjectId =item.Id })">
                                <i class="material-icons" id="overview">visibility</i>
                                <div class="mdl-tooltip" data-mdl-for="overview">
                                    Task overview
                                </div>
                            </a>
                            <a href="@Url.Action("Create","Task",new {subjectId =item.Id })">
                                <i class="material-icons" id="add">add</i>
                                <div class="mdl-tooltip" data-mdl-for="add">
                                    Create new task
                                </div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.IsClassAdmin)
        {
            <button onclick="location.href='@Url.Action("Create", new { classId = Model.TeachingClassId})'" id="add-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">add</i>
            </button>
        }

    </div>
</div>

