@model OverviewDocumentViewModel

@{
    ViewBag.Title = "Document Overview";
}
@using (Html.BeginForm("Overview", "Document"))
{
    <box class="no-padding w-60 float-left">
        <table class="clean-table">
            <tr>
                <th>Filename</th>
                <th>Uploaded at</th>
                <th>Uploaded by</th>
                <th></th>
            </tr>

            @foreach (var item in Model.Documents)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Filename)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uploaded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uploader)
                </td>
                <td></td>
                <td>
                    <a href="@Url.Action("Manage",new {documentId =item.Id })"><i title="Manage Document" class="fa fa-pencil"></i></a>
                </td>

                <td>
                    <a href="@Url.Action("Download",new {documentId =item.Id })"><i title="Download Document" class="fa fa-download"></i></a>
                </td>
            </tr>
            }
        </table>
    </box>
}