@model OverviewDocumentViewModel

@{
    ViewBag.Title = "Document Overview";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>

    <div class="mdl-cell mdl-cell--8-col mdl-shadow--4dp table-wrap">
        <h3>Documents</h3>

        <table class="mdl-data-table mdl-js-data-table mdl-cell--12-col">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Filename</th>
                    <th>Uploaded at</th>
                    <th>Uploaded by</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Documents)
                {
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">@item.FileName</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Uploaded)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Uploader)
                        </td>
                        <td>
                            @if (item.IsOwner)
                            {
                                <a href="@Url.Action("Manage", new { documentId = item.Id })">
                                    <i class="material-icons" id="edit">edit</i>
                                    <div class="mdl-tooltip" data-mdl-for="edit">
                                        Edit document
                                    </div>
                                </a>
                            }

                            <a href="@Url.Action("Download",new {documentId = item.Id })">
                                <i class="material-icons" id="download">cloud_download</i>
                                <div class="mdl-tooltip" data-mdl-for="download">
                                    Download
                                </div>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button onclick="location.href='@Url.Action("Create", new { taskId = Model.TaskId})'" id="add-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>

