@model RegisterViewModel

@{
    Layout = "~/Views/Shared/_VerificationLayout.cshtml";
}

<div class="box">
    @using (Html.BeginForm("Register", "Verification"))
    {
        @Html.AntiForgeryToken()

    <div class="input-wrapper">
        <label>Firstname</label>
        <i class="fa fa-user"></i>
        @Html.TextBoxFor(m => m.FirstName)
        <p>@Html.ValidationMessageFor(m => m.FirstName)</p>
    </div>

    <div class="input-wrapper">
        <label>Lastname</label>
        <i class="fa fa-user"></i>
        @Html.TextBoxFor(m => m.LastName)
        <p>@Html.ValidationMessageFor(m => m.LastName)</p>
    </div>

        <div class="input-wrapper">
            <label>Email</label>
            <i class="fa fa-envelope-o"></i>
            @Html.TextBoxFor(m => m.Email)
            <p>@Html.ValidationMessageFor(m => m.Email)</p>
        </div>

        <div class="input-wrapper">
            <label>Password</label>
            <i class="fa fa-lock"></i>
            @Html.PasswordFor(m => m.Password)
            <p>@Html.ValidationMessageFor(m => m.Password)</p>
        </div>

        <button type="submit"><i class="fa fa-paper-plane-o"></i> Register</button>
        <p>Already have a account? @Html.ActionLink("Login", "Login")</p>
    }
</div>
